.product-card {
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 300px;
    text-align: left;
    background: rgb(0, 0, 0);
    font-family: 'SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif';
}
  
  .product-image {
    width: 100%;
    /* height: 200px; */
    object-fit: fill;
  }
  
  .product-title {
    font-size: 1.1rem;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 12px 0;
    color: rgb(255, 255, 255);
  }
  
  .product-price {
    color: #9fde87;
    font-weight: bold;
    margin-bottom: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .product-button {
    background-color: #6f00ff;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .product-button:hover {
    background-color:  #0583e46e;
  }